body{
background-image: url("https://hd.unsplash.com/1/work-station-straight-on-view.jpg");
background-size: cover;
height: 800px;
}
.block{
	background: linear-gradient(to right, rgba(255,0,0,0), rgba(0,0,255,0.9));
	/*background-color:lightblue;*/
  /*opacity:.7;*/
  padding:10px;
  width:270px;
  margin-top: 136px;
  height:283px;
  margin-right:auto;
  margin-left:550px;
  border-radius:7px;
  transform: skew(-1deg,0deg);
  box-shadow: 0px 0px 5px white;
}
div.block #title{
background: linear-gradient(-90deg, #0059b3, black);
/*background-color: #0059b3;*/
color: white;
box-shadow: 0px 0px 10px black;
width:270px;
height: 25px;
margin: -25px 0px 35px;
padding: 0px 5px;
/*text-align: center;*/
border-radius: 3px;
font-weight: bold;	
}
div.block h2{
	color: white;
	font-family: monotype corsiva;
	text-align: center;
    margin-bottom: -5px;
    font-weight: bold;
}
div.block h3{
	color: white;
	font-family: monotype corsiva;
	margin-left: 45px;
	font-weight: bold;
}
div.block #subtitle{
color: white;
	font-family: monotype corsiva;
padding: px;
margin-top:60px;
margin-left: 45px; 
position: absolute;
}	
div.block hr{
	margin:-40px;
	max-width:170px;
    margin-left: 45px;
    font-weight: bold;
}
div.block input[type="text"]{
	margin-top:60px;
margin-left: 45px; 
position: absolute;
width: 170px; 	
font-weight: bold;
}

div.block input[type="password"]{
	margin-top:75px;
margin-left: 45px; 
position: absolute;
width: 170px;
font-weight: bold;
}

div.block button[type="button"]{
	margin-top:112px;
margin-left: 172px; 
position: absolute;
border-radius: 25px;
width: 50px;
background: none;
color: #6699ff;
border-color: white;
border-width: 2.5px;
padding: 3px;
font-weight: bold;
}
div.block button[type="button"]:hover {background-color: white;
color: black;}


input[ value="Signup"]{
	margin-top:-78px;
margin-left: 165px; 
position: absolute;
width: 54px;
border-radius: 25px;
background: none;
color: red;
font-weight: bold;
border-color: white;
border-width: 2.5px;
padding: 2.75px;
}

input[ value="Signup"]:hover {background-color: white;
color: black;}

p{
	color: white;
	font-family: monotype corsiva;
	margin-top: 114px;
	margin-left: 45px; 	
}
a{
	text-decoration: none;
}


